extends layout 

block layout-content 
    div.View
        h1.Banner gradeUniv 
        div.Message
            div.Title
                h3 Gerer autrement l'
                h1 Univesite
            span.Details Access au portail de gestion des cotes. 
        div.NavButtons
            a(href="/user")
                div.NavButton Se connecter
